@import '../../../website-info/colors.css';

.button {
  position: relative;
  width: 40px;
  height: 40px;

  margin: 0px 7px;

  background-color: #fff;
  color: #000;
  font-size: 20px;

  border: none;
  border-radius: 20px;

  cursor: pointer;

  font-family: sans-serif;
  font-weight: bold;

  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.button:hover span[style],
.button:active span[style] {
  color: var(--color3) !important;
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  color: #666666;
  cursor: not-allowed;
}
