.button {
  position: relative;
  width: 2em;
  height: 2em;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff;

  font-size: 20px;
  padding: 0;
  margin: 0;

  border: none;
  border-radius: 1em;

  cursor: pointer;

  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  color: #666666;
  cursor: not-allowed;
}
