@import url('../../website-info/colors/colors.css');

.contact-container {
  position: relative;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contact {
  width: 50vw;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;

  box-shadow: var(--box-shadow-1);
}

.contact .about {
  width: 30%;
  height: 100%;
  float: left;
}

.contact .form {
  width: 70%;
  height: 100%;
  float: right;
}
