.contact {
  width: 50vw;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;

  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.contact .about {
  width: 30%;
  height: 100%;
  float: left;
}

.contact .form {
  width: 70%;
  height: 100%;
  float: right;
}
