@import url('../../website-info/colors/colors.css');

.contact-container {
  position: relative;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contact {
  position: relative;
  width: 50vw;
  height: 80%;
  background-image: var(--linear-gradient-bg-0);
  padding: 20px;

  box-shadow: var(--box-shadow-1);
}

.contact .about {
  width: 30%;
  height: 100%;
  float: left;
}

.contact .form {
  width: 70%;
  height: 100%;
  float: right;
}

.error {
  position: absolute;

  width: 200px;
  height: 20px;

  bottom: 15%;
  right: 35%;
  transform: translateX(50%);

  /* background-color: aliceblue; */
  color: black;
  font-weight: bold;

  text-align: center;
  align-items: center;
}
