.container {
  position: relative;
  width: 100vw;
  min-height: 100vh;

  background-image: linear-gradient(
    to right top,
    #ff1e56,
    #d72a6d,
    #a93875,
    #7b3e6f,
    #533d5b,
    #59415c,
    #5e455d,
    #634a5f,
    #975870,
    #cb686d,
    #f0835b,
    #ffac41
  );

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .container-image {
  position: relative;
  width: 100%;
  height: 60vh;

  /* transform: rotateZ(-3deg); */
  /* border-radius: 20px; */

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.container .container-image h1 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;

  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 90px;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.container .container-image:hover h1 {
  opacity: 1;
}

.container .image {
  position: relative;
  width: 100%;
  height: 100%;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  position: relative;
  margin-top: 50px;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;

  width: 50vw;
  min-height: 100vh;
  border-radius: 20px;

  /* background-color: rgba(0, 0, 0, 0.1); */

  /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); */
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;

  font-size: 30px;
}

.tech {
  width: 100%;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.tech > div {
  width: 100px;
  height: 100px;

  background-color: #fff;
}

.info > div.photo {
  width: 80%;
  aspect-ratio: 16/9;

  background-color: #fff;

  margin: 5px;
}

.authors {
  width: 300px;
  height: 300px;

  background-color: #fff;
}
