.settings {
  position: absolute;
  right: -150px;
  top: 100px;
  width: 150px;
  height: 200px;
  z-index: 100;

  transition: right 0.5s ease-in-out;

  background-color: #222222;
}

.settings.active {
  right: 0;
}

.settings button {
  position: absolute;
  left: -50px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;
  cursor: pointer;

  background-color: #222222;
  border: none;
  color: white;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.settings button span {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  animation: setAnim 3s infinite alternate;
  z-index: 100;
}

@keyframes setAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.settings .colors {
  position: absolute;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #222222;

  border-bottom-left-radius: 5px;
}

.settings .color {
  width: 30px;
  height: 30px;

  background-color: white;
  margin: 10px;

  cursor: pointer;
}
