.homeContainer {
  position: relative;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homeContainer .home {
  position: relative;
  width: 70%;
  height: 50%;

  padding: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);

  /* background-image: linear-gradient(
    to right top,
    #ff1e56,
    #d72a6d,
    #a93875,
    #7b3e6f,
    #533d5b,
    #59415c,
    #5e455d,
    #634a5f,
    #975870,
    #cb686d,
    #f0835b,
    #ffac41
  ); */

  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.25);
}

.homeContainer .home .left {
  position: relative;
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homeContainer .home .right {
  width: 40%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homeContainer .home .right img {
  aspect-ratio: 1/1;
  height: 100%;
}

.homeContainer .home .left .hello {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.homeContainer .home .left .hello hr {
  width: 30px;
  position: absolute;
}

.homeContainer .home .left .hello h3 {
  text-indent: 40px;
}

.homeContainer .home .left .name {
  width: 100%;
  height: auto;

  text-transform: capitalize;
  font-size: 45px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.homeContainer .home .left .name span {
  color: red;
  text-transform: capitalize;
}

.homeContainer .home .left .shortDesc {
  width: 100%;
  height: auto;

  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;

  text-indent: 70px;
}

.homeContainer footer {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 300px;
  height: 60px;
  display: flex;
}

.homeContainer footer .social {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homeContainer footer .social ul {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  margin: 0;
  padding: 0;
}

.homeContainer footer .social ul li {
  width: 40px;
  height: 40px;
  list-style: none;

  font-size: 20px;

  border-radius: 20px;

  text-align: center;
  color: #000;

  background-color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  cursor: pointer;
}

.homeContainer footer .social ul li:hover,
.homeContainer footer .social ul li:active {
  color: var(--color3);
}
