.slide {
  position: relative;
  width: inherit;
  height: inherit;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transform: translateX(0);

  /* background-color: red; */

  transition: transform 0.75s ease-in-out;
}

.slide .image {
  width: inherit;
  height: inherit;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.slide .image img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  align-items: center;

  filter: blur(1px);
}

.slide .image p {
  position: absolute;
  bottom: 0;

  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;

  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;

  border-radius: 10px;

  cursor: pointer;
}
