.firstRow {
  color: #fff;
}

.firstRow > div {
  font-size: 15px;
}

.firstRow span {
  font-size: 17px;
  font-weight: bolder;
}

.secondRow {
  color: #fff;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.secondRow > div {
  font-size: 12px;
}

.secondRow > div span {
  font-weight: bolder;
  color: #fff;
}

.thirdRow {
  color: #fff;
}

.thirdRow > div {
  font-size: 13px;
}
