.about {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.about .profile-image {
  width: 400px;
  height: 400px;
  margin: 20px;
}

.about .profile-image img {
  width: 100%;
  height: 100%;
}

.about .profile {
  width: 600px;
  height: 400px;
  margin: 20px;

  background-color: rgba(0, 0, 0, 0.5);
}

.about .name {
  text-transform: uppercase;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #fff;
}

.about .job {
  text-transform: uppercase;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #fff;
}

.about span {
  color: red;
}

.about hr {
  border-bottom: 0px solid white;

  margin: 20px 0px;
}

.about .description {
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  color: #fff;
}
