@import '../../../website-info/colors.css';

.more {
  position: relative;
  display: flex;
  color: white;

  width: 50%;
  height: 80%;
  background-color: var(--color2);

  padding: 20px;

  border-radius: 20px;

  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.more span {
  color: red;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.more::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.more {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.more .left {
  width: 30%;
  height: 100%;
  float: left;
}

.more .right-scroll {
  position: relative;
  width: 70%;
  min-height: 100%;
  float: right;

  overflow-y: scroll;
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.more .right-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.more .right-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.more .right {
  width: 100%;
  min-height: 100%;
}

.btn {
  position: absolute;
  top: 0px;
  right: -60px;
}

/* RIGHT ABOUT */

.more .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.more .right-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
