.carouselContainer {
  position: relative;
  aspect-ratio: 3/1.5;
  width: 75%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.carouselContainer .slideContainer {
  position: relative;
  width: 100%;
  height: 100%;

  margin: 0px 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  background-color: rgba(0, 0, 0, 0.4);
}

.carouselContainer .slideContainer .mask {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.carouselContainer .slideContainer .carousel {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  background-color: rgba(0, 0, 0, 0.4);
}

.carouselContainer .leftBtn {
  position: relative;

  width: 100px;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);

  transition: transform 0.25s ease-in-out;
}

.carouselContainer .rightBtn {
  position: relative;
  margin-right: 0px;

  width: 100px;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);

  transition: transform 0.25s ease-in-out;
}

.carouselContainer button {
  width: 100%;
  height: 100%;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.carouselContainer .leftBtn:hover,
.carouselContainer .leftBtn:active,
.carouselContainer .rightBtn:hover,
.carouselContainer .rightBtn:active {
  transform: scale(0.97);
}
