.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: transparent;

  overflow: hidden;

  width: 1200px;
  height: 600px;

  /* box-shadow: 0 0 30px #fff; */
}

.carousel button {
  width: 100px;
  height: 100px;

  z-index: 100;
  outline: none;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.carousel .prev {
  position: absolute;
  top: 50%;
  left: 0;

  transform: translateY(-50%);
}

.carousel .next {
  position: absolute;
  top: 50%;
  right: 0;

  transform: translateY(-50%);
}
